Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized in a way that allows for easy storage, retrieval, and manipulation of information. It serves as a central location for data that is used by applications and systems.

SQL and NoSQL databases are two different types of databases that differ in their approach to storing and managing data. SQL (Structured Query Language) databases are relational databases that store data in tables with predefined schemas. They use SQL to manage and manipulate data, and are well-suited for handling complex queries and transactions. Examples of SQL databases include MySQL, PostgreSQL, and Oracle.

On the other hand, NoSQL (Not Only SQL) databases are non-relational databases that store data in a more flexible, unstructured format. They are designed to handle large amounts of data that may be unstructured or semi-structured, and may not have a predefined schema. NoSQL databases are typically more scalable and can handle more complex data structures. Examples of NoSQL databases include MongoDB, Cassandra, and DynamoDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDl - data defination language
 Create_

 CREATE TABLE employees (
    ID INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10, 2)
);


Drop_

DROP TABLE employees;

Alter_

ALTER TABLE employees
ADD department VARCHAR(50);


Truncate

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stand for Data manipulation language

Insert - used to inster new row in data

Insert into employee values  (__VALUES__)

update - update value of row based on certain condition

update employees
set
salary = 50000 where id = 1

delete - delete value of row based on condition

delete from employee
where id =1

Q4. What is DQL? Explain SELECT with an example.


DQL stand for Data Query Language


select * from employee

Q5. Explain Primary Key and Foreign Key.
Primary Key if column that has unique, not null one per table

Foreign key is column that point to Primary key of other table

Foreign key (id) references system(id)

import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results of the query
result = mycursor.fetchall()

# Print the results
for row in result:
  print(row)

Q7. Give the order of execution of SQL clauses in an SQL query.


From, where, Group by, having, select , order by ,limit