In [1]:
class Vehicle:
    def __init__(self, nv, max_speed, average_of_vehicle):
        self.name_of_vehicle = nv
        self.max_speed = max_speed
        self.average_of_vehicle = average_of_vehicle

In [2]:
a = Vehicle("wagon",200,50)

In [3]:
class Car(Vehicle):
    def seating_capacity(self, capacity):
        return f"{self.name_of_vehicle} has a seating capacity of {capacity} passengers."

In [4]:
a= Car("wagonr",32,43)

In [5]:
a.seating_capacity(5)

'wagonr has a seating capacity of 5 passengers.'

In [6]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def eat(self):
        print(f"{self.name} is eating.")

class Flyable:
    def fly(self):
        print("I am flying.")

class Bird(Animal, Flyable):
    def __init__(self, name):
        Animal.__init__(self, name)
        Flyable.__init__(self)

bird = Bird("Sparrow")
bird.eat()
bird.fly()

Sparrow is eating.
I am flying.

In [7]:
class Employee:
    def __init__(self, name, salary):
        self.__name = name
        self.__salary = salary

    @property
    def name(self):
        return self.__name

    @name.setter
    def name(self, name):
        self.__name = name

    @property
    def salary(self):
        return self.__salary

    @salary.setter
    def salary(self, salary):
        if salary < self.__salary:
            self.__salary = salary
        else:
            pass

In [11]:

e = Employee("ayush",80000)
e.name = "bhaskar"
e.salary = 70000

In [12]:

print(e.name)
print(e.salary)

bhaskar
70000

In [3]:
class college():
    def __init__(self) :
        pass
    @classmethod
    def enter_new(cls,name,location):
        cls.name = name
        cls.location = location
    def output(self):
        print(self.name,self.location)

In [4]:
a = college()

In [6]:
a.enter_new("Ramjas college","Delhi")

In [7]:
a.output()

Ramjas college Delhi